<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Base Rooms</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/iconfont/material-icons.css">
    <link rel="stylesheet" href="css/materialize.css">
    <!-- style for sign up page -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
    <div class="navbar-fixed">
        <nav class="blue darken-4" id="secondnav">
            <div class="container ">
                <div class="nav-wrapper">
                    <a href="#Home" class="brand-logo deep-purple-text ">

                        <b>
                            <span class="white-text ">Smart Campus
                        </b>
                        </span>
                        </b>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li>
                          <b>
                            <a href="/admin_home">Home</a>
                        </li>
                        <li class="active">
                          <a href="/admin_posts">Posts</a>
                        </li>
                        <!-- <li>
                          <a href="/users">Classes</a>
                        </li> -->
                      <li>
                          <a href="/admin_blog">Blog</a>
                      </li>
                      <li>
                          <a href="/Classrooms">Baseroom Occuption</a>
                        </li> 
                       
                         <li>
                          <a href="/admin_settings" class="waves-effect">Configurations</a>
                        </li>
                        <li> 
                          <a href="/admin_logout" class="waves-effect">Logout</a>
                        </li>
                        
          
                      </ul>                </div>
                <!-- sidenav trigger -->
                <a href="#" class="sidenav-trigger right show-on-large" data-target="nav">
                    <i class=" material-icons fixed transparent white-text right">menu</i>
                </a>
                <a href="#" data-activates="fixed-nav" class="button-collapse right">
                    <ul class="right hide-on-med-and-down">
                        <li>
                        </li>
                    </ul>
                </a>
            </div>
        </nav>
    </div>
    <!-- Sidenav -->
    <ul class="sidenav blue lighten-5  show-on-large " id="nav">
        <ul id="slide-out" class="side-nav ">
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="img/background.jpg" alt="">
                    </div>
                    <a href="#">
                        <img src="img/person1.jpg" alt="" class="circle">
                    </a>
                    <a href="#">
                        <span class="name white-text"></span>
                    </a>
                </div>
            </li>
            <li>

            </li>
            <div class="divider"></div>
            <li>
                <a href="/portal" class="black-text">
                    <i class="material-icons blue-text">people</i></a>
            </li>
            <div class="divider"></div>
            <li>
                <a href="/blog" class="black-text">
                    <i class="material-icons blue-text">event_notes</i> Blog</a>
            </li>
            <div class="divider"></div>
            <li>
                <a href="/material" class="black-text">
                    <i class="material-icons blue-text">book</i></a>
            </li>
            <div class="divider"></div>
            <li>
                <a href="/Classrooms" class="black-text">
                    <i class="material-icons blue-text">room</i>Classroom Occupation</a>
            </li>
            <div class="divider"></div>
            <li>
                <a class="subheader">Account Controls</a>
            </li>

            <li>
                <a href="/settings" class="waves-effect">Settings</a>
            </li>
            <div class="divider"></div>
            <li>
                <a href="/logout" class="waves-effect">Logout</a>
            </li>
            <br />
            <div class="divider"></div>
        </ul>
    </ul>


    <!-- Section : Sliders -->
    <section class="section section-visitors blue lighten-5">
        <div class="row">
            <div class="col s12 m6 l8">
                <div class="card-panel">
                    <H3>Baseroom occupation</H3>
                    <div class="divider"></div>
                    <h6>N-BLOCK GROUND FLOOR</h>
                        <br>
                        <!--FLOATING BUTTONS-->
                        <button class="btn-floating btn-large waves-effect waves-red blue lighten-4  classes">
                            <i>N1</i>
                        </button>
                        <a href="" class="btn-floating btn-large waves-effect waves-blue blue lighten-4  classes">
                            <i>N2</i>
                        </a>
                        <a href=""
                            class="btn-floating btn-large waves-effect waves-green blue lighten-4 pulse  classes">
                            <i>N3</i>
                        </a>
                        <a href=""
                            class="btn-floating btn-large waves-effect waves-green blue lighten-4 pulse  classes">
                            <i>N4</i>
                        </a>
                        <a href=""
                            class="btn-floating btn-large waves-effect waves-green blue lighten-4 pulse  classes">
                            <i>N5</i>
                        </a>
                        <a href=""
                            class="btn-floating btn-large waves-effect waves-green blue lighten-4 pulse  classes">
                            <i>N6</i>
                        </a>
                        <br>
                        <button class="white black-text btn-large waves-effect classes">
                            <span>Pharmacy lab</span>
                        </button>
                        <button class="white black-text btn-large waves-effect classes">
                            <span>Biotech lab</span>
                        </button>


                        <div class="divider"></div>


                        <h6>N-BLOCK FIRST FLOOR</h6>
                        <section>
                            <button class="white black-text btn-large waves-effect classes">
                                <span>N101</span>
                            </button>
                            <button class="white black-text btn btn-large waves-effect waves-red classes">
                                <span>N102</span>
                            </button>
                            <button class="white black-text btn btn-large waves-effect waves-red classes">
                                <span>N103</span>
                            </button>
                            <button class="white black-text btn btn-large waves-effect waves-red classes">
                                <span>N104</span>
                            </button>
                            <button class="white black-text btn btn-large waves-effect waves-red classes">
                                <span>N105</span>
                            </button>
                            <button class="white black-text btn btn-large waves-effect waves-red pulse  classes">
                                <span>N106</span>
                            </button>
                            <button class="white black-text btn btn-large waves-effect waves-red  classes">
                                <span>N107</span>
                            </button>
                            <button class="white black-text btn btn-large waves-effect waves-red  classes">
                                <span>N108</span>
                            </button>
                            <button class="white black-text btn btn-large waves-effect waves-red  classes">
                                <span>N109</span>
                            </button>
                            <button class="white black-text btn btn-large waves-effect waves-red  classes">
                                <span>N110</span>
                            </button>
                            <button class="white black-text btn btn-large waves-effect waves-red  classes">
                                <span>N111</span>
                            </button>
                            <button class="white black-text btn btn-large waves-effect waves-red  classes">
                                <span>N112</span>
                            </button>
                            <div class="divider"></div>
                            <br>
                            <h6>S-BLOCK GROUND FLOOR</h>
                                <br>
                                <!-- Section: Slider -->
                                <!--FLOATING BUTTONS-->
                                <button class="btn-floating btn-large waves-effect waves-red blue lighten-4  classes">
                                    <i>S1</i>
                                </button>
                                <a href=""
                                    class="btn-floating btn-large waves-effect waves-blue blue lighten-4  classes">
                                    <i>S2</i>
                                </a>
                                <a href=""
                                    class="btn-floating btn-large waves-effect waves-green blue lighten-4 pulse  classes">
                                    <i>S3</i>
                                </a>
                                <a href=""
                                    class="btn-floating btn-large waves-effect waves-green blue lighten-4 pulse  classes">
                                    <i>S4</i>
                                </a>
                                <a href=""
                                    class="btn-floating btn-large waves-effect waves-green blue lighten-4 pulse  classes">
                                    <i>S5</i>
                                </a>
                                <a href=""
                                    class="btn-floating btn-large waves-effect waves-green blue lighten-4 pulse  classes">
                                    <i>S6</i>
                                </a>
                                <a href=""
                                    class="btn-floating btn-large waves-effect waves-green blue lighten-4 pulse  classes">
                                    <i>S7</i>
                                </a>
                                <div class="divider"></div>
                                <br>
                                <h6>S-BLOCK FIRST FLOOR</h6>
                                <section>
                                    <button class="white black-text btn-large waves-effect  classes">
                                        <span>S101</span>
                                    </button>
                                    <button class="white black-text btn btn-large waves-effect waves-red  classes">
                                        <span>S102</span>
                                    </button>
                                    <button class="white black-text btn btn-large waves-effect waves-red  classes">
                                        <span>S103</span>
                                    </button>
                                    <button class="white black-text btn btn-large waves-effect waves-red  classes">
                                        <span>S104</span>
                                    </button>
                                    <button class="white black-text btn btn-large waves-effect waves-red  classes">
                                        <span>S105</span>
                                    </button>
                                    <button class="white black-text btn btn-large waves-effect waves-red  classes">
                                        <span>S106</span>
                                    </button>
                                    <button class="white black-text btn btn-large waves-effect waves-red  classes">
                                        <span>S107</span>
                                    </button>
                                    <button class="white black-text btn btn-large waves-effect waves-red  classes">
                                        <span>S108</span>
                                    </button>
                                    <button class="white black-text btn btn-large waves-effect waves-red  classes">
                                        <span>S109</span>
                                    </button>
                                    <button class="white black-text btn btn-large waves-effect waves-red  classes">
                                        <span>S110</span>
                                    </button>
                                    <button class="white black-text btn btn-large waves-effect waves-red  classes">
                                        <span>S111</span>
                                    </button>
                                    <button class="white black-text btn btn-large waves-effect waves-red  classes">
                                        <span>S112</span>
                                    </button>
                                    <div class="divider"></div>
                                </section>
                </div>
            </div>

            <div class="col s12 m6 l4" id="updates">
                <table width="400" cellpadding="10" cellspacing="5">
                    <tr>
                        <th width="150"></th>
                        <th>Occupied</th>
                        <th>Unoccupied</th>
                    </tr>
                    <tr>
                        <th>N1</th>
                        <td>
                            <i class="material-icons light-blue-text ">done_all</i>
                        </td>
                        <td></td>

                    </tr>
                    <tr>
                        <th>N2</th>
                        <td>
                            <i class="material-icons light-blue-text ">done_all</i>
                        </td>
                        <td></td>

                    </tr>
                    <tr>
                        <th>N3</th>
                        <td></td>
                        <td>
                            <i class="material-icons red-text ">close</i>
                        </td>

                    </tr>
                    <tr>
                        <th>N4</th>
                        <td></td>
                        <td>
                            <i class="material-icons  red-text ">close</i>
                        </td>

                    </tr>
                    <tr>
                        <th>N101</th>
                        <td></td>
                        <td>
                            <i class="material-icons red-text ">close</i>
                        </td>

                    </tr>
                    <tr>
                        <th>N102</th>
                        <td>
                            <i class="material-icons  light-blue-text ">done_all</i>
                        </td>
                        <td></td>

                    </tr>
                    <tr>
                        <th>N103</th>
                        <td></td>
                        <td>
                            <i class="material-icons red-text ">close</i>
                        </td>

                    </tr>
                    <tr>
                        <th>Automotive Hall</th>
                        <td></td>
                        <td>
                            <i class="material-icons red-text ">close</i>
                        </td>

                    </tr>
                    <tr>
                        <th>Multipurpose Hall</th>
                        <td>
                            <i class="material-icons light-blue-text ">done_all</i>
                        </td>
                        <td></td>

                    </tr>
                    <tr>
                        <th>S2</th>
                        <td>
                            <i class="material-icons  light-blue-text ">done_all</i>
                        </td>
                        <td></td>

                    </tr>
                    <tr>
                        <th>S2</th>
                        <td></td>
                        <td>
                            <i class="material-icons red-text ">close</i>
                        </td>

                    </tr>
                    <tr>
                        <th>S4</th>
                        <td>
                            <i class="material-icons light-blue-text ">done_all</i>
                        </td>
                        <td></td>

                    </tr>
                    <tr>
                        <th>Pharmacy LAB</th>
                        <td></td>
                        <td>
                            <i class="material-icons red-text ">close</i>
                        </td>

                    </tr>
                    <tr>
                        <th>N2</th>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th>N2</th>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th>N2</th>
                        <td></td>
                        <td></td>

                    </tr>

                </table>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <section class="section section-footer center blue">
        <div class="page-footer blue darken-4">
            <div class="container blue darken-4">
                <div class="row">
                    <p class="flow-text">Smart Campus &copy; 2019</p>
                </div>
            </div>
        </div>
    </section>
    <!-- scripts -->
    <script src=" js/jquery-minified.js "></script>
    <script src="js/materialize.min.js "></script>
    <script>
        M.AutoInit();

    </script>
</body>
<html>

</html>