<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Smart Campus</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/iconfont/material-icons.css">
    <link rel="stylesheet" href="css/materialize.css">
    <!-- style for sign up page -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <header class="">
        <div class="navbar-fixed">
            <nav class="blue darken-4 white-text">
                <div class="container">
                    <div class="nav-wrapper">
                        <a href="" class="brand-logo deep-purple-text">
                            <b>
                                <span class="white-text ">Smart Campus
                            </b>
                            </span>
                            </b>
                        </a>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <form method="POST" action="/submit-form">
        <input type="file" name="document" />
        <input type="submit" />
    </form>


    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <!-- =============================================================================== -->
    <!-- Footer -->
    <section class="section section-footer center blue">
        <div class="page-footer blue darken-4">
            <div class="container blue darken-4">
                <div class="row">
                    <p class="flow-text">Smart Campus &copy; 2019</p>
                </div>
            </div>
        </div>
    </section>

    <script src=" js/jquery-minified.js "></script>
    <script src="js/materialize.min.js "></script>
    <script>
        M.AutoInit();
        $('.modal').modal();

    </script>
</body>
<html>

</html>